In [27]:
import pandas as pd
import numpy as np
import skfuzzy as fuzz
from skfuzzy import control as ctrl

In [89]:
dfTrial = pd.read_csv('../data/trialPromoResults.csv', index_col='index')
dfCust = pd.read_csv('../data/custdatabase.csv', index_col='index')
dfActual = pd.read_csv('../data/Cust_Actual.csv', index_col='index')

In [90]:
dfTrial.describe()

               age     children        income         avbal      avtrans
count  1000.000000  1000.000000   1000.000000   1000.000000  1000.000000
mean     41.777720     1.003000   5119.725060  21779.968610  1856.060490
std      14.313917     1.104632   3278.980026  11382.111805  1272.986294
min      18.050000     0.000000    369.520000    814.950000    45.760000
25%      29.395000     0.000000   2545.725000  13984.857500   994.850000
50%      39.945000     1.000000   4329.940000  19956.505000  1485.590000
75%      50.080000     2.000000   7167.150000  27100.500000  2400.497500
max      89.910000     4.000000  19715.690000  78385.030000  8138.310000

In [91]:
dfCust.head()

,sex,mstatus,age,children,occupation,education,income,avbal,avtrans
index,,,,,,,,,
1001,M,divorced,44.27,2,legal,postgrad,10245.73,53183.04,4069.67
1002,M,married,61.90,1,legal,secondary,1942.57,18100.78,1522.42
1003,M,divorced,37.30,1,IT,tertiary,9896.16,24496.82,2723.35
1004,F,divorced,25.02,1,legal,postgrad,10136.44,26690.01,4143.04
1005,F,divorced,48.37,2,government,secondary,2521.11,13439.81,240.26

In [92]:
dfActual.head()

      status  cust Investment Potential Score
index
1001    None                               5.2
1002    None                               2.5
1003    None                               4.1
1004    None                               4.4
1005    None                               2.3

In [93]:
dfTrain = pd.concat([dfCust, dfActual], axis=1)
dfTrain.head()

,sex,mstatus,age,children,occupation,education,income,avbal,avtrans,status,cust Investment Potential Score
index,,,,,,,,,,,
1001,M,divorced,44.27,2,legal,postgrad,10245.73,53183.04,4069.67,None,5.2
1002,M,married,61.90,1,legal,secondary,1942.57,18100.78,1522.42,None,2.5
1003,M,divorced,37.30,1,IT,tertiary,9896.16,24496.82,2723.35,None,4.1
1004,F,divorced,25.02,1,legal,postgrad,10136.44,26690.01,4143.04,None,4.4
1005,F,divorced,48.37,2,government,secondary,2521.11,13439.81,240.26,None,2.3

In [94]:
dfTrain.describe()

,age,children,income,avbal,avtrans,cust Investment Potential Score
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,40.701337,0.915500,5308.354605,22321.316500,1932.156740,3.358550
std,14.074204,1.052681,3307.480857,11872.049604,1318.799637,0.860609
min,18.020000,0.000000,356.970000,88.000000,8.940000,1.400000
25%,28.530000,0.000000,2647.057500,13489.815000,993.750000,2.700000
50%,39.685000,1.000000,4669.165000,20276.015000,1583.885000,3.200000
75%,48.035000,2.000000,7208.450000,29826.920000,2500.380000,3.900000
max,89.820000,4.000000,19955.570000,88682.430000,8789.100000,7.100000

In [97]:
dfTrain.columns

Index(['sex', 'mstatus', 'age', 'children', 'occupation', 'education',
       'income', 'avbal', 'avtrans', 'status', 'p_score'],
      dtype='object')

In [96]:

dfTrain=dfTrain.rename(columns = {'cust Investment Potential Score ':'p_score'})

In [98]:
dfTrain.to_csv('../data/Train.csv')

# Fuzzy 
## Age

In [ ]:
# New Antecedent/Consequent objects hold universe variables and membership
# functions
fz_age = ctrl.Antecedent(np.arange(0, 11, 1), 'age')
fz_children = ctrl.Antecedent(np.arange(0, 11, 1), 'children')

fz_consq = ctrl.Consequent(np.arange(0, 26, 1), 'cust Investment Potential Score')

# Auto-membership function population is possible with .automf(3, 5, or 7)
fz_age.automf(3)
fz_children.automf(3)

# Custom membership functions can be built interactively with a familiar,
# Pythonic API
tip['low'] = fuzz.trimf(tip.universe, [0, 0, 13])
tip['medium'] = fuzz.trimf(tip.universe, [0, 13, 25])
tip['high'] = fuzz.trimf(tip.universe, [13, 25, 25])

In [38]:
dfTrain.columns

Index([' sex', ' mstatus', ' age', ' children', ' occupation', ' education',
       ' income', ' avbal', ' avtrans', 'status',
       'cust Investment Potential Score '],
      dtype='object')